{{outlet}}

<h3>Patch route</h3>

<button {{action 'newModule'}}>New Module</button>
<button {{action 'newValueModule'}}>New Value Module</button>

<ul>
  {{#each model.modules as |module|}}
    <li>{{module.name}}</li>
  {{/each}}
</ul>
